{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

  <!-- <div class="blog-header">
  <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
  <p class="lead blog-description">{{@blog.description}}</p>
</div> -->

  <div class="blog-header">
    <!-- TODO: Fill this in. -->
  </div>

  <div class="row">

    <div class="col-sm-8 blog-main">

      <div class="blog-post">
        <h2 class="blog-post-title">{{title}}</h2>
        <p class="blog-post-meta">{{date}} by <a href="#">{{author.name}}</a></p>

        {{!-- post content be here --}}
        {{content}}
      </div><!-- /.blog-post -->

      <!-- <nav>
        <ul class="pager">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </nav> -->

    </div><!-- /.blog-main -->

    {{!-- sidebar content be here - partials/sidebar.hbs --}}
    {{> "sidebar"}}

  </div><!-- /.row -->

{{/post}}
